@use "../../styles/utils" as *;
@use "../../styles/foundation/colors";
@use "sass:map";
.banner {
    background-image: url(../../assets/banner.svg);
    height: pxToVh(116);
    background-size: cover;
    & > div {
        margin-left: pxToRem(24);
        padding-top: pxToVh(24);
        .heading {
            font-size: pxToVh(30);
            line-height: pxToVh(40);
            letter-spacing: pxToRem(-0.25);
        }
        .subtitle {
            color: map-get($map: colors.$font, $key: caption);
            font-size: pxToVh(16);
            line-height: pxToVh(24);
            letter-spacing: pxToRem(-0.25);
        }
    }
}